.DS_Store
.VSCodeCounter
**/__pycache__/
**/*.log
**/*.png
**/*.pt
**/dev.ipynb
build/
src/dymad.egg-info/
docs/_build
docs/api
docs/extra_files
examples/**/*.npz
examples/**/*.pkl
scripts/**/*.npz
scripts/**/*.pkl
tests/results/*.npz
tests/results/*/*.npz
tests/*.npz
.ipynb_checkpoints
*.MAT
*.mp4
*.viz
