.DS_Store
.VSCodeCounter
.ruff_cache/
.dymad/
**/__pycache__/
**/*.log
**/*.png
**/*.pt
**/dev.ipynb
build/
src/dymad.egg-info/
docs/_build
docs/api
docs/extra_files
examples/**/*.npz
examples/**/*.pkl
scripts/**/*.npz
scripts/**/*.pkl
scripts/**/*_tuning
scripts/tuning_convergence/runs
scripts/tuning_convergence/**/context_results/
scripts/tuning_convergence/**/median_predictions/
scripts/tuning_convergence/**/tuning/
tests/ker_model/*.npz
tests/ker_model/*/*.npz
tests/results/*.npz
tests/results/*/*.npz
tests/*.npz
.ipynb_checkpoints
*.MAT
*.mp4
*.viz

# A-Dev artifacts
.a-dev/
