.DS_Store
**/__pycache__/
**/*.log
**/*.png
**/*.pt
**/dev.ipynb
build/
src/dymad.egg-info/
docs/_build
docs/api
examples/*/data/*.npz
examples/*/results/*.npz
test/*/data/*.npz
test/*/results/*.npz
.ipynb_checkpoints